<header class="ntt-header">
  <div class="ntt-header__logo-wrapper">
    <a routerLink="/movies" >
      <img src="{{header.logo}}" alt="{{header.title}}" class="ntt-header__logo" />
    </a>
  </div>
  <app-input
    *ngIf="!inputHidden"
    [id]="'movie-title'"
    name="movieTitle"
    type="text"
    label="Movie"
    placeholder="Enter movie title"
    [small]="true"
    [value]="movieTitle"
    (onChange)="onTitleChange($event)"
    (onKeyPress)="onSubmit($event)"
    [bordered]="true"
    [faded]="true"
    [disabled]="!!(isLoading$ | async)"
  />
  <app-button
    [id]="'submit'"
    otherClass="!bg-transparent !w-5 !p-0 ml-2"
    (onClick)="onMagnifyingGlassClick()"
  >
    <app-magnifying-glass/>
  </app-button>
</header>
