<div class="ntt-movies-list">
  <ng-container *ngIf="isLoading$ | async">
    <div class="ntt-movies-list__loading">
      Loading movies, please wait...
    </div>
  </ng-container>
  <ng-container *ngIf="(error$ | async) as error">
    <div class="ntt-movies-list__error">
      {{ error }}
    </div>
  </ng-container>
  <ng-template [ngIf]="!(isLoading$ | async) && !(error$ | async)">
    <div
      *ngIf="(movies$ | async)?.length === 0 && (favorites$ | async)?.length === 0; else moviesList"
      class="ntt-movies-list__empty"
    >
      No movies to display, try searching for something else
    </div>
    <ng-template #moviesList>
      <div
        class="ntt-movies-list__movies"
      >
        <a
          routerLink="/movie/{{ movie.imdbID }}"
          *ngFor="let movie of movies"
          class="ntt-movies-list__movie"
        >
          <img
            class="ntt-movies-list__movie-poster"
            [ngSrc]="movie.Poster"
            [alt]="movie.Title"
            fill="cover"
          />
          <p class="ntt-movies-list__movie-title">
            {{ movie.Title }}
          </p>
        </a>
        <app-button
          *ngIf="pagesRemaining"
          class="flex items-center justify-center max-w-[121px] min-w-[121px]"
          [small]="true"
          (onClick)="seeMore()"
        >
          See more
        </app-button>
      </div>
      <div
        class="ntt-movies-list__movies ntt-movies-list__movies--only-favorites"
      >
        <h1
          *ngIf="favorites$ | async"
          class="ntt-movies-list__movies-title"
        >
          Favorites
        </h1>
        <a
          routerLink="/movie/{{ movie.imdbID }}"
          *ngFor="let movie of favorites"
          class="ntt-movies-list__movie"
        >
          <img
            class="ntt-movies-list__movie-poster"
            [ngSrc]="movie.Poster"
            [alt]="movie.Title"
            fill="cover"
          />
          <p class="ntt-movies-list__movie-title">
            {{ movie.Title }}
          </p>
        </a>
      </div>
    </ng-template>
  </ng-template>
</div>
